.App {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.grid-two {
  width: 80vw;
  height: 100vh;
  margin: auto;
}
.copy-comp {
  margin: auto;
  height: 8rem;
}

.flex-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.canvas {
  border: 1px solid gray;
  height: 70%;
  width: 100%;
  margin: auto;
  position: relative;
  transition: 0.4s;
}
.canvas:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.canvas-active {
  background-color: var(--light-gray);
}
.dnd-btn {
  position: relative;
}
.dnd-btn i {
  visibility: hidden;
}
.dnd-btn:hover i {
  visibility: visible;
}

.edit-text {
  top: 41px;
  left: 0;
  width: 8rem;
  padding: 0.8rem;
  position: absolute;
}
.single-item {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
}

.color-pane {
  position: relative;
  z-index: 1111;
}
.color {
  padding: 0.1rem 0.5rem;
  margin: 2px;
  border-radius: 50%;
  cursor: pointer;
}
.color-purple {
  background: #ef32d9;
  color: black;
}
.color-red {
  background: #f2709c;
  color: black;
}
.color-bluesh {
  background: #4ecdc4;
  color: black;
}
.color-white {
  background: white;
  color: black;
}
.color-black {
  background: black;
  color: white;
}
.top-btn {
  position: absolute;
  bottom: -4rem;
  left: 40%;
}
.saved-state {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.saved-state-canvas {
  margin: auto;
  width: 100%;
  height: 80%;
  border: 2px solid gray;
  position: relative;
}
.text-field {
  padding: 0.7rem;

  border: none;
  font-size: 1.2rem;
}

.btn-icon-dec {
  position: absolute;
  top: 0rem;
  right: 0rem;
  color: black;
}
.btn-icon-inc {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  color: black;
}
.pointer-input {
  cursor: move;
}
.text-dnd {
  width: 100%;
  height: 100%;
}
.pointer-input i {
  visibility: hidden;
}
.pointer-input:hover i {
  visibility: visible;
}
.pointer-input .btn-icon-dec {
  top: -1rem;
  left: 0;
}

.pointer-input .btn-icon-inc {
  bottom: -2rem;
  left: 0;
}
.saved-state-canvas input {
  pointer-events: none;
}
.saved-state-canvas button {
  pointer-events: none;
}
.saved-state-canvas i {
  visibility: hidden;
}
.pointer-input .color-pane {
  visibility: hidden;
}
.pointer-input:hover .color-pane {
  visibility: visible;
}
