.App {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.grid-two {
  width: 80vw;
  height: 100vh;
  margin: auto;
}
.copy-comp {
  margin: auto;
  height: 8rem;
}

.flex-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.canvas {
  border: 1px solid gray;
  height: 70%;
  width: 100%;
  margin: auto;
  position: relative;
  transition: 0.4s;
}
.canvas:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.canvas-active {
  background-color: var(--light-gray);
}
.dnd-btn {
  position: relative;
}
.edit-text {
  top: 41px;
  left: 0;
  width: 8rem;
  padding: 0.8rem;
  position: absolute;
}
.single-item {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
}
.color-box {
  position: absolute;
  top: -30px;
  width: 30%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.color {
  padding: 0.8rem 1rem;
  border-radius: 50%;
}
.color-purple {
  background: linear-gradient(to right, #ef32d9, #89fffd);
}
.color-red {
  background: linear-gradient(to right, #f2709c, #ff9472);
}
.color-bluesh {
  background: linear-gradient(to right, #4ecdc4, #556270);
}
.color-white {
  background: white;
}
.color-black {
  background: black;
}
.top-btn {
  position: absolute;
  bottom: -4rem;
  left: 40%;
}
.saved-state {
  height: 100vh;
  display: flex;
  align-items: center;
}
.saved-state-canvas {
  margin: auto;
  width: 60%;
  height: 80%;
  border: 2px solid gray;
  position: relative;
}
